* {
    box-sizing: border-box;
}

.container {
    background-color: rgb(199, 204, 199);
    height: 100vh;
}

.box{
    background-color: rgb(245, 240, 240);
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;
    min-height:  50%;
    
}