.choice {
    line-height: 40px;
    width: 200px;
}
#actors{
    text-align: left;
    padding-left: 200px;
}

#player{
    color: blue;
}
#computer{
    color: red;
}

#container {
    font-family: Candara, cursive;
    border: 3px solid;
    border-radius: 12px;
    padding: 12px;
    background-color: lightblue;
    text-align: center;
}
