
h1 {
    /* border-style: outset;
    border-width: 3px;
    border-color: rgb(84, 84, 238)0, 60, 255) */

    border: 3px outset rgb(78, 78, 252);
    border-radius: 15px;
}

p {
    border-bottom: 3px outset rgb(78, 78, 252);
    border-right: 3px inset rgb(78, 252, 156);
    border-left: 3px dotted rgb(228, 81, 36);
    border-top: 3px dashed rgb(229, 255, 0);
     border-radius: 7px;
}