#num {
  font-size: 10em;
  display: block;
  text-align: center;
}

#butt {
  font-size: 1em;
  justify-content: center;
  display: flex;
  gap: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
