
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color:  #FF1493;
}

#result {
  font-size: 7em;
  letter-spacing: 4px;
  text-align: center;
  font-family: "Book Antiqua", monospace;
  background-color: #222222;
  color: white;
  padding: 20px;
  border: 3px solid #1a751b;
  border-radius: 0.4em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.flower {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: flowerAnimation 5s ease-in-out infinite;
}

#flower1 { top: 20px; left: 50px; background-color: forestgreen}
#flower2 { top: 60px; left: 120px; background-color: greenyellow }
#flower3 { top: 10px; left: 200px; background-color: green }
#flower4 { top: 80px; left: 300px; background-color: yellowgreen }
#flower5 { top: 40px; left: 150px; background-color: yellow}

@keyframes flowerAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}


